* {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    print-color-adjust: exact !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

p, h1, h2 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    margin-top: -0.5rem;
}

h2 {
    font-size: 5rem;
}

span {
    font-size: 1.2rem;
}

button {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    border: none;
    width: 10rem;
    height: 30px;
    min-height: 30px;
}

input {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
}

#content {
    margin-left: 2rem;
    display: flex;
    gap: 7%;
}

#info-input-on, #info-input-off {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 842px;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

#info-input-off {
    transform: translateX(-110%);
}

#info-input-toggle-button {
    position: absolute;
    left: 100%;
    top: 50%;
    width: 6rem;
    transform: rotate(-90deg);
}

#education-forms-wrapper, #experience-forms-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 14rem;
    overflow: scroll;
}

.education-form, .experience-form {
    border: 1px solid;
    margin: 0.5rem;
    padding: 0.5rem;
}

#main-form {
    border: 1px solid;
    margin: 0.5rem;
    padding: 0.5rem;
}

#main-info-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 6rem;
}

#profile-img-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#profile-img-upload-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 20%;
    background-color: wheat;
    opacity: 1;
}

#close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    background-color: transparent;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

#profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#profile-img:hover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 50%;
}

#profile-img-container {
    height: 10rem;
    width: 10rem;
    overflow: hidden;
    background-color: black;
}

input[type=file] {
    display: none;
}

#upload-button {
    position: absolute;
    height: 10rem;
    width: 10rem;
    background-color: black;
    color: white;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

#upload-button:hover {
    opacity: 0.5;
}

#cv-container {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 3rem;
    width: 210mm;
    height: 297mm;
    background-size: cover;
    -moz-box-shadow: 0 0 4px #a8a8a8;
    -webkit-box-shadow: 0 0 4px #a8a8a8;
    box-shadow: 0 0 4px #a8a8a8;
}

#cv-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

#button-wrapper {
    display: flex;
    gap: 3rem;
}

#background-img {
    position: absolute;
    z-index: -2;
    background-image: url("/home/yyigin/odin/cv-project/src/styles/background.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: blur(8px);
}

#main-info-wrapper {
    display: flex;
    flex-direction: column;
}

#name-text {
    font-size: 2rem;
}

#edu-exp-wrapper {
    display: flex;
    flex-direction: column;
}

#educations, #experiences {
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 2.5rem;
    font-size: 0.8rem;
}

#education-container, #experience-container {
    display: flex;
    flex-direction: column; 
    padding: 0.5rem;
}

#education-wrapper, #experience-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3.5rem;
}
